/* App.css */
.navbar {
  background: linear-gradient(to right, #333, #444);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color:#333;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color: rgb(21, 0, 255);
  transform: translateY(-3px);
}

